<div class="side-img-div" id="side-{{ side.id }}" [class.db-exist]="side.isDBExist" [class.agm-img-selected]="side.selected">
  <img class="side-img" src="https://drive.google.com/thumbnail?id={{side.id}}" (click)="changeCenterPoint(side.id)" />
  <div class="img-handle">
    <span *ngIf="side.isDBExist" (click)="openModal(side.id)"><i class="fa fa-pencil"></i></span>
    <span *ngIf="!side.isDBExist" (click)="import(side.id)"><i class="fa fa-cloud-download"></i></span>
    <span *ngIf="side.isDBExist" (click)="delete(side.id)"><i class="fa fa-trash-o"></i></span>
  </div>
</div>