<!-- Main -->
<div id="main">

  <!-- Two -->
  <section id="two" class="spotlights">
    <section>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <h3>食～</h3>
          <p style="color:white">
            <span>• Smart Eats 外帶送餐 </span>
            <br />
            <span>• Coffee Tone </span>
            <br />
            <span>• 點餐結帳系統 </span>
            <br />
            <span>• 餐廳訂位服務 </span>
            <br />
            <span>• 餐廳候位服務 </span>
            <br />
            <span>• 街口外送服務 </span>
            <br />
            <span>• 餐卷系統 </span>
          </p>
          <!-- <ul class="actions">
                <li><a href="generic.html" class="button">Learn more</a></li>
              </ul> -->
        </div>
      </div>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <div class="content">
        <h3>住～</h3>
        <p style="color:white">
          • Smart智慧家庭
          <br>
          • 中華電信光世代智慧住宅
          <br>

          • 中華電信eHome智慧家庭
          <br>

          • 門口對講機VBell
          <br>

          • 智慧家庭系統FAVISA
          <br>

          • 華岡保全整合智慧系統
          <br>

          • MiLocks整合智慧家庭系統
          <br>

          • 智慧社區
          <br>

          • 警報系統Fronti FS330
          <br>

          • 幸福空間屋主用APP
          <br>

          • 21世紀買房網
      </div>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <h3>行～</h3>
          <p style="color:white">
            • BikeOO共享單車服務Volvo Service+車主APP
            <br>
            • 台灣大車隊企業簽單
            <br>

            • 台灣大車隊車機簽單
            <br>

            • 台灣大車隊Ｘ街口支付
            <br>

            • 台灣大車隊Ｘ街口叫車
            <br>

            • 彰化縣警局『彰警Online』APP
          </p>
        </div>
      </div>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h3>育～</h3>
          <p style="color:white">
            • HTC企業內部APP
            <br>
            • 中國科技大學APP
            <br>

            • 吳鳳大學APP
            <br>

            • 文藻外語大學APP
            <br>

            • 致理科技大學APP
            <br>

            • 台灣藝術大學APP
            <br>

            • 醒吾科技大學『i醒吾』
            <br>

            • 龍華科技大學APP
            <br>

            • 技嘉客服系統&官網
            <br>

            • 睿能創意營銷
            <br>

            • 麗臺科技KIOSK醫療照護
          </p>
        </div>
      </div>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <h3>樂～</h3>
          <p style="color:white">
            • Money Coin電子支付
            <br>
            • 台北101會員APP
            <br>

            • 台北101Ｘ街口支付
            <br>

            • 台灣大哥大Wali錢包
            <br>

            • 亞太電子發票轉檔
            <br>

            • 衛生疾管局
            <br>

            • 溫泉指南APP
            <br>

            • 鹿鳴溫泉酒店APP
            <br>

            • 悠遊卡內部團購系統
            <br>

            • 神腦線上APP
            <br>

            • 高毅影像『印簿玩』
          </p>

        </div>
      </div>
    </section>
  </section>

</div>