<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
  <br>
  <div class="center">
    <div class="row">
      <div class="outter_search_box">
        <input class="form-control searchbar" type="text" placeholder="Search">
      </div>
    </div>

  </div>

  <br>
  <div class="folder-list-div">
    <div *ngFor="let folder of folders">
      <app-folder [folder]="folder"></app-folder>
    </div>
  </div>

</div>
