agm-map {
  height: 80vh;
}

.agm-img {
  cursor: pointer;
  border: 3px solid white;
  width: 40px;
  height: 40px;
  border-radius: 99em;
  background-color: white;
  transform: rotate(180deg);
  box-shadow: 2px 2px 7px #1a1a1a;
}

.agm-img-selected {
  border: 3px solid red;
}

.sidenav {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  overflow-y: scroll;
  background-color: black;
}

.side-header {
  z-index: 3;
  height: 60px;
}

.side-body {
  z-index: 2;
  height: 100vh;
  top: 40px;
}

.sidenav-back {
  background-color: black;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav {
  -ms-overflow-style: none;
}

.side-img-div {
  text-align: center;
  margin-top: 10%;
  opacity: 0.8;
  padding-top: 5%;
}

.side-img-div:hover {
  opacity: 1;
}

.db-exist {
  background-color: lightgreen;
}

.sidenav a,
.sidenav .file-info {
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-top: 5%;
}

.sidenav a:hover,
.img-handle span:hover {
  opacity: 0.5;
}

.sidenav .header-btn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 50px;
}

.header-btn-close {
  right: 15px;
  color: #818181;
}

.header-btn-refresh {
  right: 250px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.header-btn-import {
  right: 190px;
}

.fa-refresh {
  color: green;
}

.fa-cloud-download {
  color: #3498db;
}

.fa-trash-o {
  color: red;
}

.side-img {
  width: 260px;
  height: 260px;
  border-radius: 7%;
  cursor: pointer;
}

.img-handle {
  text-align: right;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 25px;
}

.img-handle span {
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkbox {
  padding: 0.75rem 0 0.75rem 0;
}
