<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- <agm-map [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude" [zoom]="centerPoint.zoom">
    <div *ngFor="let marker of markers">
        <app-marker [marker]="marker"></app-marker>
    </div>
</agm-map> -->

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div #mySidenav id="mySidenav" class="sidenav" [ngClass]="{ 'sidenav-shadow': isOpenSideNav }">
  <div>
    <a href="javascript:void(0)" class="header-btn header-btn-refresh"><i class="fa fa-refresh"></i></a>
    <a href="javascript:void(0)" class="header-btn header-btn-import" title="all import"><i class="fa fa-cloud-download"></i></a>
    <a href="javascript:void(0)" class="header-btn header-btn-close" (click)="closeNav()"><i class="fa fa-times"></i></a>
  </div>

  <br />
  <div class="file-info" *ngFor="let side of files">
    <app-side-nav-sub [side]="side"></app-side-nav-sub>
    <!-- <div class="side-img-div lazy">
      <img class="side-img" data-src="https://drive.google.com/thumbnail?id=1rvZc-NnM7YrUIFtNz0WqR6RoCtkw2VAJ" />
      <div class="img-handle">
        <span><i class="fa fa-cloud-download"></i></span>
        <span><i class="fa fa-trash-o"></i></span>
      </div>
    </div>
    <div class="side-img-div lazy">
      <img class="side-img" data-src="https://drive.google.com/thumbnail?id=1Z1jCfQXeKKGy20mc0Jcy3zyiHTnpd3eJ" />
      <div class="img-handle">
        <span><i class="fa fa-cloud-download"></i></span>
        <span><i class="fa fa-trash-o"></i></span>
      </div>
    </div>
    <div class="side-img-div lazy">
      <img class="side-img" data-src="https://drive.google.com/thumbnail?id=1i0mieCYGxzrz8ALckqVctWTYltUIe90l" />
      <div class="img-handle">
        <span><i class="fa fa-cloud-download"></i></span>
        <span><i class="fa fa-trash-o"></i></span>
      </div>
    </div>
    <div class="side-img-div lazy">
      <img class="side-img" data-src="https://drive.google.com/thumbnail?id=1iVBSMX37hlXqQYg2-2gRJP3BIlDBRX_d" />
      <div class="img-handle">
        <span><i class="fa fa-cloud-download"></i></span>
        <span><i class="fa fa-trash-o"></i></span>
      </div>
    </div>
    <div class="side-img-div lazy">
      <img class="side-img" data-src="https://drive.google.com/thumbnail?id=1PHM6g09ZqDSanm0_ZqCx8xR2BCbcpmIs" />
      <div class="img-handle">
        <span><i class="fa fa-cloud-download"></i></span>
        <span><i class="fa fa-trash-o"></i></span>
      </div>
    </div>
    <div class="side-img-div lazy">
      <img class="side-img" data-src="https://drive.google.com/thumbnail?id=1_e8WmtJCWjMF1use1hNvjvw9wN9HIJqP" />
      <div class="img-handle">
        <span><i class="fa fa-cloud-download"></i></span>
        <span><i class="fa fa-trash-o"></i></span>
      </div>
    </div> -->
  </div>
  <br />
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Images</span>

<ng-template #template id="myModal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="file-title">標題</label>
        <input class="form-control" id="file-title" [value]="modalInfo.title ? modalInfo.title : ''" />
      </div>
      <div class="row form-group">
        <div class="col">
          <label for="file-latitude">經度</label>
          <!-- <input type="text" id="file-latitude" class="form-control" type="number" step="0.001" maxlength="20" [value]="modalInfo.latitude ? modalInfo.latitude : ''" /> -->
          <input type="text" id="file-latitude" class="form-control" type="number" step="0.001" maxlength="20" [(ngModel)]="modalInfo.latitude" name="latitude" />
        </div>
        <div class="col">
          <label for="file-longitude">緯度</label>
          <!-- <input type="text" id="file-longitude" class="form-control" type="number" step="0.001" maxlength="20" [value]="modalInfo.latitude ? modalInfo.latitude : ''" /> -->
          <input type="text" id="file-longitude" class="form-control" type="number" step="0.001" maxlength="20" [(ngModel)]="modalInfo.longitude" name="longitude" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isPending" name="isPending" /> 待處理</label>
          </div>
        </div>
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isStray" name="isStray" /> 野犬</label>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isNoDog" name="isNoDog" /> 無狗</label>
          </div>
        </div>
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isChained" name="isChained" /> 鏈養</label>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <label for="file-uncertainCount">不確定</label>
          <input type="text" id="file-uncertainCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.uncertainCount" name="uncertainCount" />
        </div>
        <div class="col">
          <label for="file-notNeuteredCount">未紮母</label>
          <input type="text" id="file-notNeuteredCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.notNeuteredCount" name="notNeuteredCount" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <label for="file-neuteredCount">已紮母</label>
          <input type="text" id="file-neuteredCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.neuteredCount" name="neuteredCount" />
        </div>
        <div class="col">
          <label for="file-maleDogCount">公狗</label>
          <input type="text" id="file-maleDogCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.maleDogCount" name="maleDogCount" />
        </div>
      </div>
      <div class="form-group">
        <label for="file-contact">聯絡方式</label>
        <input class="form-control" id="file-contact" [(ngModel)]="modalInfo.contact" name="contact" />
      </div>
      <div class="form-group">
        <label for="file-description">說明</label>
        <textarea class="form-control" id="file-description" rows="3" [(ngModel)]="modalInfo.description" name="description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</ng-template>

<agm-map [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude" [zoom]="centerPoint.zoom">
  <agm-overlay *ngFor="let marker of markers" #infowindow [latitude]="marker.latitude" [longitude]="marker.longitude">
    <img class="agm-img" [class.agm-img-selected]="marker.icon.selected" src="{{ marker.icon.url }}" (click)="openModal(marker.id)" />
    <!-- <agm-info-window #infowindow [latitude]="marker.latitude + 0.0005" [longitude]="marker.longitude" [isOpen]="isOpen">
        <div>
          <h5>{{ marker.title }}</h5>
          <br />
          <img src="{{ marker.icon.url }}" style="width: 70px; height: 70px; transform:rotate(180deg)" alt="" />
        </div>
      </agm-info-window> -->
  </agm-overlay>
</agm-map>
