<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- <agm-map [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude" [zoom]="centerPoint.zoom">
    <div *ngFor="let marker of markers">
        <app-marker [marker]="marker"></app-marker>
    </div>
</agm-map> -->

<ngx-loading id="loading-div" [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div #sideNavHeader id="sideNavHeader" class="sidenav side-header">
  <div>
    <a href="javascript:void(0)" class="header-btn header-btn-refresh"><i class="fa fa-refresh"></i></a>
    <a href="javascript:void(0)" class="header-btn header-btn-import" title="all import" (click)="allImport()"><i class="fa fa-cloud-download"></i></a>
    <a href="javascript:void(0)" class="header-btn header-btn-close" (click)="closeNav()"><i class="fa fa-times"></i></a>
    <a href="javascript:void(0)" class="header-btn header-btn-delete" (click)="allDelete()"><i class="fa fa-trash-o"></i></a>
  </div>

</div>

<div #sideNavBody id="sideNavBody" class="sidenav side-body">
  <div class="file-info" *ngFor="let side of files">
    <app-side-nav-sub [side]="side"></app-side-nav-sub>
  </div>
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Images</span>

<ng-template #template id="myModal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row form-group">
        <div class="col">
          <label for="file-latitude">經度</label>
          <!-- <input type="text" id="file-latitude" class="form-control" type="number" step="0.001" maxlength="20" [value]="modalInfo.latitude ? modalInfo.latitude : ''" /> -->
          <input type="text" id="file-latitude" class="form-control" type="number" step="0.001" maxlength="20" [(ngModel)]="modalInfo.latitude" name="latitude" [ngClass]="{'input-required': !modalInfo.latitude }" />
        </div>
        <div class="col">
          <label for="file-longitude">緯度</label>
          <!-- <input type="text" id="file-longitude" class="form-control" type="number" step="0.001" maxlength="20" [value]="modalInfo.latitude ? modalInfo.latitude : ''" /> -->
          <input type="text" id="file-longitude" class="form-control" type="number" step="0.001" maxlength="20" [(ngModel)]="modalInfo.longitude" name="longitude" [ngClass]="{'input-required': !modalInfo.longitude }" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isPending" name="isPending" /> 待處理</label>
          </div>
        </div>
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isStray" name="isStray" /> 野犬</label>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isNoDog" name="isNoDog" /> 無狗</label>
          </div>
        </div>
        <div class="col">
          <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="modalInfo.isChained" name="isChained" /> 鏈養</label>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <label for="file-uncertainCount">不確定</label>
          <input type="text" id="file-uncertainCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.uncertainCount" name="uncertainCount" />
        </div>
        <div class="col">
          <label for="file-notNeuteredCount">未紮母</label>
          <input type="text" id="file-notNeuteredCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.notNeuteredCount" name="notNeuteredCount" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <label for="file-neuteredCount">已紮母</label>
          <input type="text" id="file-neuteredCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.neuteredCount" name="neuteredCount" />
        </div>
        <div class="col">
          <label for="file-maleDogCount">公狗</label>
          <input type="text" id="file-maleDogCount" class="form-control" type="number" step="1" maxlength="3" [(ngModel)]="modalInfo.maleDogCount" name="maleDogCount" />
        </div>
      </div>
      <div class="form-group">
        <label for="file-contact">聯絡方式</label>
        <input class="form-control" id="file-contact" [(ngModel)]="modalInfo.contact" name="contact" />
      </div>
      <div class="form-group">
        <label for="file-description">說明</label>
        <textarea class="form-control" id="file-description" rows="3" [(ngModel)]="modalInfo.description" name="description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</ng-template>


<!-- <agm-map [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude" [zoom]="centerPoint.zoom">
  <agm-overlay *ngFor="let marker of markers" #infowindow [latitude]="marker.latitude" [longitude]="marker.longitude">
    <img class="agm-img" [class.agm-img-selected]="marker.icon.selected" src="{{ marker.icon.url }}" (click)="openModal(marker.id)" />
    
  </agm-overlay>
</agm-map> -->

<div *ngIf="markers.length == 0">
  <agm-map [latitude]="0" [longitude]="0" [zoom]="15">

  </agm-map>
</div>

<div *ngIf="markers.length> 0">
  <agm-map [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude" [zoom]="centerPoint.zoom">
    <agm-overlay *ngFor="let marker of markers" #infowindow [latitude]="marker.latitude" [longitude]="marker.longitude">
      <img class="agm-img" [class.agm-img-selected]="marker.icon.selected" src="{{ marker.icon.url }}" (click)="openModal(marker.id)" />

    </agm-overlay>
  </agm-map>
</div>
