<!-- Main -->
<div id="main">

  <!-- Two -->
  <section id="two" class="spotlights">
    <section>
      <a href="generic.html" class="image">
        <img src="../../assets/images/vision1.png" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major">
            <!-- <h3>Rhoncus magna</h3> -->
          </header>
          <span>客戶信任所託</span>
          <br>
          <span> 溝通暢通</span>
          <br>
          <span> 預期進度</span>
          <br>
          <span> 滿意所交付</span>
          <br>
          <span> 迅速處理問題</span>
          <!-- <ul class="actions">
            <li><a href="generic.html" class="button">Learn more</a></li>
          </ul> -->
        </div>
      </div>
    </section>
  </section>

</div>