<!-- Banner -->
<section class="">
  <!-- <div id="banner2"></div> -->
  <div class="bg">
    <img src="../../assets/images/home2.png">
  </div>
</section>


<!-- Main -->
<div id="main">

  <!-- One -->
  <section id="one" class="tiles">
    <article>
      <span class="image">
        <img src="../../assets/images/ConceptPurpose.png" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/ConceptPurpose']" class="link">理念宗旨</a></h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="../../assets/images/CompanyVision.jpg" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/CompanyVision']" class="link">公司願景</a></h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="../../assets/images/Services.jpg" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/Services']" class="link">服務項目</a></h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="../../assets/images/TeamMembers.jpg" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/TeamMembers']" class="link">頭腦團隊成員</a></h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="images/pic05.jpg" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/Experiences']" class="link">專案豐富經驗</a></h3>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="../../assets/images/Cobrand.jpg" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/Cobrand']" class="link">知名合作品牌</a></h3>
      </header>
    </article>
    <article id="art-contact">
      <span class="image">
        <img src="images/pic06.jpg" alt="" />
      </span>
      <header class="major">
        <h3><a [routerLink]="['/Contact']" class="link">聯絡我們</a></h3>
      </header>
    </article>
  </section>

</div>