#art-contact{
    width: 100%;
}

#banner2{
    background-image: url(../../assets/images/home2.png);
    padding: 6em 0 2em 0 ;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-bottom: 0 !important;
    cursor: default;
    height: 60vh;
    /* margin-bottom: -3.25em; */
    max-height: 32em;
    min-height: 22em;
    /* position: relative; */
    top: -3.25em;
}

.bg {
    z-index: -99;
}
.bg img {
    min-height: 100%;
    width: 100%;
}