<!-- <agm-marker [latitude]="marker.latitude" [longitude]="marker.longitude" [iconUrl]="marker.icon" (markerClick)="markerClick(infowindow)">
  <agm-info-window #infowindow [latitude]="marker.latitude + 0.0005" [longitude]="marker.longitude" [isOpen]="isOpen">
    {{ marker.title }}
  </agm-info-window>
</agm-marker> -->

<div class="agm-frame">
  <img class="agm-img" [class.agm-img-selected]="marker.icon.selected === true" src="{{ marker.icon.url }}" />
  <agm-info-window #infowindow [latitude]="marker.latitude + 0.0005" [longitude]="marker.longitude" [isOpen]="isOpen">
    <div>
      <h5>{{ marker.title }}</h5>
      <br />
      <img src="{{ marker.icon.url }}" style="width: 70px; height: 70px" alt="" />
    </div>
  </agm-info-window>
</div>
