<!-- Header -->
<!-- <header id="header" class="alt">
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header> -->

<!-- Menu -->
<!-- <nav id="menu">
  <ul class="links">
    <li><a [routerLink]="['/Index']">Home</a></li>
    <li><a [routerLink]="['/ConceptPurpose']" class="link">理念宗旨</a></li>
    <li><a [routerLink]="['/CompanyVision']" class="link">公司願景</a></li>
    <li><a [routerLink]="['/Services']" class="link">服務項目</a></li>
    <li><a [routerLink]="['/TeamMembers']" class="link">頭腦團隊成員</a></li>
    <li><a [routerLink]="['/Experiences']" class="link">專案豐富經驗</a></li>
    <li><a [routerLink]="['/Cobrand']" class="link">知名合作品牌</a></li>
    <li><a [routerLink]="['/Contact']" class="link">聯絡我們</a></li>
    
  </ul>
</nav> -->


<router-outlet></router-outlet>


<!-- Footer -->
<!-- <footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a
          href="https://www.facebook.com/%E9%AF%A8%E9%A0%AD%E8%85%A6%E7%A7%91%E6%8A%80-751653328567359/?modal=admin_todo_tour"
          class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled</li>
      <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer> -->