<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section class="sec-concept">
  <div class="bg">
    <img src="../../assets/images/home2.png">
  </div>
  <div class="inner" id="sec-concept-inner">
    <span class="image">
      <!-- <img src="images/pic07.jpg" alt="" /> -->
    </span>
    <header class="major">
      <h1>理念宗旨</h1>
    </header>
    <div class="content">
      <span>智慧：有效率又聰慧</span>
      <br>
      <span>包容：提供最佳的客戶服務</span>
      <br>
      <span>堅持：態度堅毅又正面</span>
      <br>
      <span>創新：不斷提升自我能力</span>
      <br>
      <span>專業：專案經驗如海洋般廣闊</span>
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">

  <!-- Two -->
  <section id="two" class="spotlights">
    <section>

      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>鯨頭腦科技</h3>
          </header>
          <p style="color:white">以智慧的鯨魚為代表～團隊成員 擁有鯨魚高智慧的頭腦
              而以鯨魚在海洋中悠游地徜徉，象徵無邊無際的自由創新</p>
          <!-- <ul class="actions">
            <li><a href="generic.html" class="button">Learn more</a></li>
          </ul> -->
        </div>
      </div>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
    </section>
  </section>

</div>