<!-- Main -->
<div id="main">

  <!-- Two -->
  <section id="two" class="spotlights">
    <section>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>成員</h3>
          </header>
          <p style="color:white">成員來自台大、政大</p>
          <!-- <ul class="actions">
              <li><a href="generic.html" class="button">Learn more</a></li>
            </ul> -->
        </div>
      </div>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>專業認證</h3>
          </header>
          <p style="color:white">ＰＭ：皆擁有國際專案管理師證照(PMP)
            工程師：擁有SCJP認證「 Java程式設計師」</p>
          <!-- <ul class="actions">
                  <li><a href="generic.html" class="button">Learn more</a></li>
                </ul> -->
        </div>
      </div>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>過去的工作經驗兼容</h3>
          </header>
          <p style="color:white">大公司的洗禮
              新創公司的磨練</p>
        </div>
      </div>
    </section>
  </section>

  <section id="two" class="spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>專案經驗</h3>
          </header>
          <p style="color:white">在業界擁有5~10年專案開發與執行經驗</p>
          <!-- <ul class="actions">
                  <li><a href="generic.html" class="button">Learn more</a></li>
                </ul> -->
        </div>
      </div>
      <a href="generic.html" class="image">
        <img src="assets/images/pic08.jpg" alt="" data-position="top center" />
      </a>
    </section>
  </section>


</div>